h2 {
  text-align: center;
  color: #00688b;
  font-size: xx-large;
  font-style: italic;
}



.container {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 800px;
  margin: 0px auto;
  background-image: url(./colorful-dice-dark-background_978491-2559.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  transform: rotateX(0deg) translateZ(75px) rotateY(0deg);

}

.container2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 800px;
  margin: 0px auto;
  background-image: url(./colorful-dice-dark-background_978491-2559.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.container3 {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 800px;
  margin: 0px auto;
  background-image: url(./colorful-dice-dark-background_978491-2559.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}



.img {
  height: 50px;
  border-radius: 25px;


}


#img {
  height: 50px;
  border-radius: 15px;

}

.box {
  gap: 20px;
  height: 90px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  font-size: 40px;
  cursor: pointer;
}

.box:hover {
  transition: 1s;
  transform: scale(1.3);
  pointer-events: visibleFill;

}

.info_box {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: mediumblue;
  margin: 20px;
  height: 50px;
  border-radius: 25px;
  background-color: #c6e2ff;
  font-family: 'Times New Roman', Times, serif;
  width: 50px;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  font-style: italic;

}

.info_box_win {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: green;
  font-style: italic;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 20px;
  padding: 10px;
  border-radius: 220px;
  background-image: url(./images/wwwwdownload.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;



}


.info_box_win2 {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: red;
  font-style: italic;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 20px;
  padding: 10px;
  border-radius: 220px;
  background-image: url(./images/lldownload.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;



}

.info_box_r {
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-style: italic;


  margin-top: 20px;
  padding: 10px;
  border-radius: 220px;
  background-image: url(./images/network-series-visually-pleasing-composition-260nw-262467647.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}


.info_box_re {
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: rgb(118, 12, 12);
  font-style: italic;
  font-size: xx-large;
  font-weight: bolder;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border-radius: 220px;
  background-image: url(./images/ee.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;

}


.massage {
  text-align: center;
  color: #ff7256;
  font-family: 'Alex Brush', cursive;
  font-style: italic;
}